# Gradle e Build
.gradle/
build/
app/build/
*.log

# IDE - IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws

# IDE - VS Code
.vscode/

# Kotlin
.kotlin/

# File locali e segreti (MOLTO IMPORTANTE)
local.properties
secrets.properties

# OS specific
.DS_Store
Thumbs.db
